* {
  font-family: 'Handjet', cursive;
}


body{
  background-color: #1E2A78;
  height: 100vh;
  overflow-y: hidden;
}

/*title*/

.page-title > h1{
  color: #fff;
  font-weight: 500;
  text-align: center;
  font-size: 2.666rem;
  padding-top: 50px;
}

/* layout */

.regular-layout{
  padding: 25px 75px;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  height: 70vh;
}

.full-bar > .card{
  height: 91%;
}

.split-bar{
  display: flex;
  flex-direction: column;
}

.split-bar > .card{
  height: 50%;
}

.wide-section{
  display: grid;
  grid-template-columns: 1fr;
  height: 100%;
}

.wide-section-content{
  height: 100%;
}

.split-row-bar{
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 50%;
}

.full-row-bar > .card{
  height: 28.5vh;
}

/*card*/

.card{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px;
  font-weight: 400; 
  margin: 10px;
}

.card > .top-content >  h3{
  font-size: 2rem;
  margin: 0;
  font-weight: 400; 
}

.card > .top-content > p{
  font-size: 1rem;
}

.card > .card-footer{
  display: flex;
  justify-content: end;
  text-align: center;
}

.card-pink{
  color: #fff;
  background-color: #FF1F5A;
}

.card-yellow{
  color: #000;
  background-color: #FFD615;
}

/* media */
@media only screen and (max-width: 1200px) {
  .regular-layout{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: auto;
  }
  .full-bar > .card{
    height: 80.5%;
  }
  .wide-section{
    width: 200%;
    display: grid;
    grid-template-columns: 1fr;
  }
  .wide-section-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .split-row-bar{
    height: 100%;
  }
}

@media only screen and (max-width: 1000px) {
  body{
    overflow-y: scroll;
  }
  .regular-layout{
    padding: 25px;
    display: grid;
    grid-template-columns: 1fr;
  }
  .split-row-bar{
    display: grid;
    grid-template-columns: 1fr;
  }
  .wide-section-content{
    display: grid;
    grid-template-columns: 1fr;
  }
  .full-bar > .card{
    height: auto;
  }
  .wide-section{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
  }
  .full-row-bar > .card{
    height: auto;
  }
}